body {
  background: #fefefe;
  font-size: 12px;
}

.navigation {
  background: green;
  padding: 16px;
  border-radius: 8px;;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.navigation__link--home {
  background: #000;
  color: yellow;
}


